.container {
   flex: 1 1 auto;
   width: 100%;
   max-width: 850px;
   margin: 0 auto;
   padding: 95px 15px;
   display: flex;
   flex-direction: column;
   position: relative;

   @media screen and (max-width: 991.98px) {
      padding: 70px 25px;
   }

   @media screen and (max-width: 575.98px) {
      padding: 40px 15px;
   }

   &.cartEmpty {
      justify-content: center;
      align-items: center;
   }
}