@import 'react-toastify/dist/ReactToastify.css';

body {
  margin: 0;
  font-family: 'Nunito', 'Montserrat', 'Lobster Two', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFDF8C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body,
#root {
  height: 100%;
}